@{
    ViewBag.Title = "Play";
}


<div id="bodyContainer">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="content text-center col-md-12">
                    <div class="quiz-list" data-bind="visible: tests, foreach: tests">
                        <div>
                            <a data-bind="text: Title, attr: {href: viewUrl}" target="_blank"></a>
                            <a class="btn btn-info" data-bind="text: 'Edit ' + Title, attr: {href: editUrl}, clickBubble: true" target="_blank"></a>
                        </div>
                    </div>

                    <button class="btn btn-info" data-bind="click: addNewTest">Add new Test</button>

                    <div class="test">
                        <div class="input-line" data-bind="visible: newTest, with: newTest">
                            <h2>Test Creation Form</h2>
                            <div>
                                <span>Test title:</span>
                                <textarea type="text" data-bind="text: title, value: title" placeholder="Type test title here"></textarea>
                            </div>
                            <div>
                                <span>Questions count:</span>
                                <input type="number" data-bind="value: questionsCount, event: {change: setQuestionsCount}, valueUpdate: 'afterkeydown'" />
                            </div>

                            <div class="question" data-bind="template: { name: 'question-template', foreach: questions}"></div>
                            <div class="errors" data-bind="visible: $parent.errors">
                                <div data-bind="foreach: $parent.errors">
                                    <b data-bind="text: $data"></b>
                                </div>
                            </div>
                            <button class="btn btn-info" data-bind="click: $parent.save">Enter</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/html" id="question-template">
            <h2> Question:</h2>
            <hr />
            <div>
                <span>Question title:</span>
                <textarea data-bind="text: title, value: title" placeholder="question title" rows="3"> </textarea>
                <br />
                <span>Options Count:</span>
                <input type="number" data-bind="value: optionsCount, event: {change: setOptionsCount}, valueUpdate: 'afterkeydown'" />
            </div>
            <h2>Answer Options:</h2>
            <div class="answer" data-bind="template: { name: 'answer-template', foreach: options}"></div>

        </script>

        <script type="text/html" id="answer-template">
            <div>
                <span>Answer:</span>
                <textarea data-bind="text: title, value: title" placeholder="answer title" rows="3"></textarea>
                <br />
                <label>Is it Correct : <input type="checkbox" data-bind="checked: isTrue" /></label>

            </div>
        </script>
    </section>
</div>

@section scripts{
    @{
        var user = HttpContext.Current.User.IsInRole("admin");
    }

    <script>
        var Context = {
            IsAdmin: Boolean("@user")
        };

    </script>

    @Scripts.Render("~/CustomScripts/Views/Home/QuizList.js")
}