@{
    ViewBag.Title = "Play";
    //int id = ViewBag.TestId ?? 0;
}
<script>
    Model = {};
    Model.TestId = @(ViewBag.TestId ?? 0);
</script>
@*<p>@id</p>*@
<div id="bodyContainer">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12">
                    <div class="front" data-bind="css: {flip : answered()}">
                        <p class="lead" data-bind="text: title"></p>
                        <div class="row text-center">
                            <!-- ko foreach: options -->
                            <button class="btn btn-info btn-lg option" data-bind="click: $parent.sendAnswer.bind($data), text: title ,visible: $parent.working()"></button>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="back" data-bind="css :{flip : answered(), correct: correctAnswer(), incorrect: !correctAnswer()}">
                        <p class="lead" data-bind="text: answer()"></p>
                        <p>
                            <!-- ko if: !isLast() -->
                            <button class="btn btn-info btn-lg next option" data-bind="click: nextQuestion">Next Question</button>
                            <!-- /ko -->
                            <!-- ko if: isLast() -->
                            @Html.ActionLink("Home", "QuizList", "Home", new { @class = "btn btn-info btn-lg option" })
                            <!-- /ko -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/CustomScripts/Views/Home/Quiz.js")
}
